<div style='font-family: Arial, sans-serif; padding: 20px; color: #333;'>
  <img
    src='https://iili.io/Jhzrihv.png'
    alt='Company Logo'
    style='width: 400px;'
  />
  <h2 style='color: #f60;'>Welcome to Drink Master!</h2>
  <p>You have successfully subscribed to our newsletter.</p>
  <p>We're excited to share our latest news and updates with you. Stay tuned!</p>
  <p>Best,</p>
  <p>The Drink Master Team</p>
</div>